<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zhanweikai.com.dao.OrdersMapper">
    <resultMap id="ordersMap" type="zhanweikai.com.pojo.Orders">
        <id property="orderId" column="order_id"/>
        <result property="createTime" column="create_time"/>
        <result property="playDay" column="play_day"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="discountAmount" column="discount_amount"/>
        <result property="areaAmont" column="area_amount"/>
        <association property="employeeId" column="employee_id" javaType="zhanweikai.com.pojo.Employee" select="getEmployee">

        </association>
        <association property="userId" column="user_id" javaType="zhanweikai.com.pojo.User">
            <id property="userId" column="user_id"/>
            <result property="password" column="password"/>
            <result property="level" column="level"/>
            <result property="status" column="status"/>
            <result property="phone" column="phone"/>
            <result property="creatTime" column="creat_time"/>
            <result property="userName" column="user_name"/>
            <result property="balance" column="balance"/>
        </association>
        <association property="areaId" column="area_id" javaType="zhanweikai.com.pojo.Area" select="getArea">
            <id property="areaId" column="area_id"/>
            <result property="number" column="number"/>
            <result property="rentalPrice" column="rental_price"/>
            <result property="status" column="status"/>
            <result property="type" column="type"/>
            <result property="beiyong2" column="beiyong2"/>
            <association property="employeeId" column="employee_id" javaType="zhanweikai.com.pojo.Employee"/>
        </association>

        <association property="periodId" column="period_id" javaType="zhanweikai.com.pojo.Period" select="getPeriod">
            <id property="periodId" column="period_id"/>
            <result property="periodTime" column="period_time"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
        </association>
    </resultMap>

    <select id="getEmployee" resultType="zhanweikai.com.pojo.Employee">
            select * from employee where id = #{id};
     </select>

    <select id="getArea" resultType="zhanweikai.com.pojo.Area">
            select * from area where area_id = #{id};
     </select>

    <select id="getPeriod" resultType="zhanweikai.com.pojo.Period">
            select * from period where period_id = #{id};
     </select>


    <sql id="Base_Column_List">
    order_id, create_time , play_day, period_id, payment_amount, discount_amount, area_amount,employee_id,user_id,area_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ordersMap">
        select
        <include refid="Base_Column_List" />
        from orders
        where order_id = #{id,jdbcType=BIGINT}
    </select>


    <select id="searchAreaByPeriodAndPlayDay" resultMap="ordersMap">
-- 根据订单时间段和日期查询出对应的area

        select
        order_id,user_id,area_id
        from orders
        where period_id = #{periodId} and play_day = #{playDay}
    </select>

    <select id="searchByAreaAndTime" resultMap="ordersMap">
        select order_id,user_id from orders where period_id = #{periodId} and play_day = #{playDay} and area_id = #{area.areaId}
    </select>
</mapper>
